* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slider-container {
  padding-top: 70px;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 90vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Style for indicators */
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin: 0 4px;
  border: none;
  opacity: 0.5;
}

.carousel-indicators .active {
  background-color: white;
  opacity: 1;
}

div.movie-type {
  color: white;
  padding: 15px 30px;
}

.movie-type h1 {
  font-size: 30px;
}

.movie-box {
  padding: 0px 0px 30px 0px;
}

/* Responsive Heights */

@media (max-width: 1024px) {

  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 40vh;
  }

  div.movie-type {
    padding: 15px 10px;
  }

}

@media (max-width: 992px) {

  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 35vh;
  }

  div.movie-type {
    padding: 15px 10px;
  }

}

@media (max-width: 768px) {

  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 40vh;
  }

  div.movie-type {
    padding: 15px 20px;
  }
}

@media (max-width: 576px) {

  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 30vh;
  }

  div.movie-type {
    padding: 15px 10px;
  }

  div.movie-type h1 {
    font-size: 25px;
  }
}

@media (width: 540px) {

  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 45vh;
  }

  .movie-type {
    padding: 15px 30px;
  }

  div.movie-type h1 {
    font-size: 30px;
  }
}